@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../font/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../font/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: 'abrilfatface-regular';
}

h1, h2 {
  margin: 0 0 0 0;
}

.white-background {
  height: 350px;
  background: white;
}

.small-black-text {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

.large-black-text {
  font-size: 120px;
  color: black;
  font-weight: bolder;
}

#try-to {
  margin: 80px 0 -30px 50px;

}

#mind {
  margin: 0 0 0 50px;
}

#possibilities {
  margin: -30px 0 0 170px;
}

#top-amp {
  color: black;
  font-size: 120px;
  font-weight: bolder;
  margin: 0 0 0 50px;
}

/**** black background ****/

#bottom-amp {
  color: white;
  font-size: 120px;
  font-weight: bolder;
  margin: -20px 0 0 50px;
}

.black-background {
  height: 360px;
  background: black;
}

.small-white-text {
  font-size: 36px;
  color: white;
}

.large-white-text {
  font-size: 120px;
  color: white;
  font-weight: bolder;
}

#your {
  margin: 0 0 0 50px;
  text-transform: uppercase;
}

#mouth {
  margin: -40px 0 0 50px;
  float: left;
}

#on-matters {
  font-size: 36px;
  width: 260px;
  float: left;
  line-height: 36px;
  margin: -15px 0 0 10px;
  font-weight: lighter;
}
